kebabownia {
	background-color: lightgray;
}
lokal:before {
	display: block;
	width: 6em;
	font-weight: bold;
	font-size: 200%;
	content: "Lokal";
	margin: -.75em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: #8CDDFA;
  }
lokal {
	display: block;
	margin: 2em 1em;
	border: 4px solid #8CDDFA;
	padding: 0px 1em;
	background-color: white;
  }

adres:before{
	
	display: block;
	width: 6em;
	font-weight: bold;
	font-size: 100%;
	content: "Adres";
	margin: -.75em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: #5da4d4;
}
miejscowosc:before{
	content: "Miejscowosc: ";
}
ulica:before{
	content: "Ulica: ";
}
numer_budynku:before{
	content: "Numer budynku: ";
}
adres {
	margin-top: 1em;
	padding: 0px 1em;
	display: block;
	background-color: aqua;
	border: 2px solid #5da4d4;
	margin-bottom: 1em;
  }

waluty:before{
	
	display: block;
	width: 6em;
	font-weight: bold;
	font-size: 100%;
	content: "Płatność w:";
	margin: -.75em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: #04cdff;
}
waluty {
	margin-top: 1em;
	padding: 0px 1em;
	display: block;
	background-color: aqua;
	border: 2px solid #04cdff;
	margin-bottom: 1em;
  }
  waluta:before{
	  content:"- ";
  }
  waluta{
	  display:block;
  }

pracownicy:before {
	display: block;
	width: 6em;
	font-weight: bold;
	font-size: 100%;
	content: "Pracownicy";
	margin: -.75em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: rgb(34, 82, 187);
  }
pracownicy {
padding: 0px 1em;
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid rgb(34, 82, 187);
  
	background-color: aqua;
	display: block;
	margin-bottom: 1em;
  }
miejscowosc, ulica, numer_budynku{
	display:block;
}
pracownik:first-of-type imie:before{
	display: block;
	font-weight: bold;
	font-size: 100%;
	content: "Imie";
	border-bottom: 1px solid;
	background-color: lightblue;
}
pracownik:first-of-type nazwisko:before{
	display: block;
	font-weight: bold;
	font-size: 100%;
	content: "Nazwisko";
	border-bottom: 1px solid;
	background-color: lightblue;
}
pracownik:first-of-type pozycja:before{
	display: block;
	font-weight: bold;
	font-size: 100%;
	content: "Stanowisko";
	border-bottom: 1px solid;
	background-color: lightblue;
}
imie, nazwisko, pozycja{
	width:10%;
	display:inline-block;
 }
pracownik{
	display:block;
	margin: 1px;
	padding: 3px;
}
pracownik[plec="K"] imie:hover{
	background-color: pink;
	
}
pracownik[plec="M"] imie:hover{
	background-color: lime;
	
}
ostrosc {
	display: block;
}
produkty:before {
	display: block;
	width: 6em;
	font-weight: bold;
	font-size: 200%;
	content: "Produkty";
	margin: -.75em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: orange;
  }

produkty {
	display: block;
	margin: 2em 1em;
	border: 4px solid orange;
	padding: 0px 1em;
	background-color: white;
  }
  
sosy:before {
	display: block;
	width: 6em;
	font-weight: bold;
	font-size: 100%;
	content: "Sosy";
	margin: -.75em .75em .25em -.25em;
	padding: .1em .25em;
	background-color: red;
  }
sosy {
	display: inline-block;
	margin: 2em 1em;

	border: 1px solid red;
	padding: 0px 1em;
	background-color: white;
  }
sos{
	display: inline-block;
	margin-bottom: 0.75em;
	border: 1px dotted red;
	padding: 0px 1em;
	background-color: white;
}

sos ostrosc[level="x2"]:hover{
	background-color:red;
}
sos ostrosc[level="x1"]:hover{
	background-color:orange;
}
sos ostrosc[level="x0"]:hover{
	background-color:lime;
}

miesa:before {
	display: block;
	width: 6em;
	font-weight: bold;
	font-size: 100%;
	content: "Mięsa";
	margin: -.75em 0px .25em -.25em;
	padding: .1em .25em;
	background-color: brown;
  }
miesa {
	display: inline-block;
	margin: 2em 1em;
	border: 1px solid brown;
	padding: 0px 1em;
	background-color: white;
  }
mieso{
	display: inline-block;
	margin: 1px 0 1px 0;
	margin-bottom: 0.75em;
	border: 1px dotted brown;
	padding: 0px 1em;
	background-color: white;
}

zalecenia {
	display: inline-block;
	margin: 2em 1em;
	border: 1px dotted brown;
	padding: 0px 1em;
	background-color: white;
  }
zalecenie:before{
	content: id;
}
zalecenie{
	display: block;
	margin: 1px 0 1px 0;
	padding: 0px 1em;
	background-color: white;
}

produkt {
	background-color: #E3D789;
	border: 2px dotted orange;
	display: block;
	margin-bottom: 1em;
	padding: 5px;
}
produkt nazwa {
	font-weight: bold;
	font-size: 150%;
}
produkt cena {
	font-size: 140%;
	color: red;
}
produkt cena:after{
	content: " " attr(waluta);
}
skladnik:before{
	content:" -";
}
skladnik {
	display: block;
}
skladnik nazwa {
	font-weight: bold;
	font-size: 100%;
	color: gray;
}
skladnik ilosc{
	color:teal;
}
skladnik ilosc:after {
	content: " " attr(jednostka)
}

